extends _layouts/master

block context
  - var title = 'Terrain with Vectors';
  - var oljs = 'ol3/ol-debug.js';
  - var cesiumjs = 'Cesium/Cesium.js';
  - var olcsjs = 'ol3cesium.js';

block styles
  link(rel='stylesheet', href='terrain-vector.css')

block scripts
  script(src='terrain-vector.js')
