extends _layouts/master

block context
  - var title = 'Hello World';
  - var oljs = 'ol3/ol.js';
  - var cesiumjs = 'Cesium/Cesium.js';
  - var olcsjs = 'ol3cesium-debug.js';

block scripts
  script(src='hello-world.js')
